.articleTitle{
    width: 58vw;
    font-size: 3.75vw;
}

.sentence{
    width: 54vw;
    margin: auto;
    text-align: left;
    font-size: 1.8vw;
}

div#listOfContents{
    width: 48vw;
}

span.contentItem{
    width: 44vw;
    margin: 2px auto;
}

div#ads{
    background: #FFFFFF44;
}

@media only screen and (max-width: 600px){
    .articleTitle{
        width: 98vw;
        font-size: 6vw;
    }

    .sentence{
        width: 90vw;
        font-size: 3vw;
    }
}