:root{
    --header-height: 25vw;
    --base-width: var(--device-width);

    --main-content-width: 90vw;
    --sub-content-width: 100vw;

    --article-font-size: calc(var(--main-content-width)/40);
}