.counter{
    width: 56vw;
    height: 56vw;
    margin: 2vw auto;
    background: yellow;
}

@media only screen and (max-width: 600px){
    .counter{
        width: 92vw;
        height: 92vw;
        margin: 4vw auto;
    }
}