.youtubeLink{
    width: 48vw;
    height: 12vw;
    display: flex;
}

.youtubeIcon{
    width: 12vw;
    margin: auto;
}

.youtubeLinkDescription{
    width: 36vw;
    margin: auto;
}


@media only screen and (max-width: 600px){
    .youtubeLink{
        width: 80vw;
        height: 20vw;
    }

    .youtubeIcon{
        width: 20vw;
    }

    .youtubeLinkDescription{
        width: 60vw;
    }
}