.articleTitle{
    width: 58vw;
    font-size: 3.75vw;
}

.sentence{
    width: 54vw;
    margin: auto;
    text-align: left;
    font-size: 1.8vw;
}

.youtubeLink{
    width: 48vw;
    height: 12vw;
    display: flex;
    margin: auto;
    user-select: none;
}

.youtubeIcon{
    width: 12vw;
    margin: auto;
}

.youtubeLinkDescription{
    width: 36vw;
    font-size: 1.5vw;
    margin: auto;
    text-align: center;
}


@media only screen and (max-width: 600px){
    .articleTitle{
        width: 98vw;
        font-size: 6vw;
    }
    
    .sentence{
        width: 90vw;
        font-size: 3vw;
    }

    .youtubeLink{
        width: 80vw;
        height: 20vw;
    }

    .youtubeIcon{
        width: 20vw;
    }

    .youtubeLinkDescription{
        width: 60vw;
        font-size: 2.5vw;
    }
}