.dateBar{
    width: 60vw;
    height: 10vh;
    background: #666666;
    margin: 8px auto;
    display: flex;
    border-radius: 5vh;
    border: 0;
}

.bar{
    width: calc(60vw - 10vh);
    margin: auto;
    display: flex;
    user-select: none;
    color: #FFFFFF;
}

.barBtn{
    width: 10vh;
    text-align: center;
}

.barBtn:hover{
    background:#aaaaaa88;
}

.barTitle{
    width: calc(60vw - 30vh);
    text-align: center;
}

.timetable{
    width: 60vw;
    min-height: 80vh;
    display: block;
    background: #00000000;
    overflow: hidden;
}

.item{
    width: 54vw;
    height: 10vh;
    border-radius: 2vh;
    border: 0.5px solid #000000;
    margin: 4px auto;
    transition: all 500ms 0ms ease;
    user-select: none;
    display: flex;
    background: #FFFFFF;
}

.previousday{
    transform: translateX(-100vw);
}

.nextday{
    transform: translateX(100vw);
}

.inside{
    width: calc(54vw - 10vh);
    margin: auto;
    color: #000000;
    font-size: 28px;
    text-align: left;
}

.floatBtn{
    width: 10vh;
    height: 10vh;
    opacity: 0.75;
    position: fixed;
    transform: translateX(calc(90vw - 10vh)) translateY(80vh);
    border-radius: 5vh;
    background: #FF5BBD;
    user-select: none;
    display:flex;
}

.btnIcon{
    width: 8vh;
    height: 8vh;
    margin: auto;
}

@media only screen and (max-width: 600px){
    .dateBar{
        width: 90vw;
        height: 5vh;
    }

    .bar{
        width: calc(90vw - 10vh);
    }

    .barTitle{
        width: calc(90vw - 30vh);
    }

    .timetable{
        width: 100vw;
    }

    .item{
        width: 98vw;
    }

    .inside{
        width: calc(98vw - 10vh);
        font-size: 22px;
    }

    .floatBtn{
        transform: translateX(calc(94vw - 10vh )) translateY(calc(90vh - 6vw));
    }
}