.dialogue_back{
    width: 50vw;
    height: 50vh;
    position: fixed;
    transform: translateX(25vw) translateY(-75vh);
    display: block;
}

.dialogue_bar{
    width: 50vw;
    height: 5vh;
    background: #444444;
    color: #FFFFFF;
    display: flex;
}

.dialogue_title{
    width: 40vw;
    height: auto;
    margin: auto 0;
    padding-left: 4px;
    text-align: left;
}

.dialogue_closebtn{
    width: 10vw;
    height: auto;
    margin: auto 0;
}

.dialogue_closebtn:hover{
    background: #22FF8844;
}

.dialogue_contents{    
    width: 50vw;
    height: 45vh;
    background: #FFFFFF;
    color: #000000;
}

@media only screen and (max-width: 600px){
    .dialogue_back .dialogue_bar .dialogue_contents{
        width: 80vw;
    }

    .dialogue_title{
        width: 64vw;
    }

    .dialogue_closebtn{
        width: 16vw;
    }
}