.headerBack{
    display: flex;
    background: #24292e;
    width: 100vw;
    height: 6vh;
    align-items: center;
}

.icon{
    height:4vh;
    margin: 1vh
}

.titleBar{
    height:6vh;
    color: #FFFFFF;
    font-size: 4vh;
}