.headerBack{
    display: flex;
    background: #24292e;
    width: 100vw;
    height: 6vh;
    align-items: center;
}

.split-header{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
}

.icon{
    height:4vh;
    margin: 1vh
}

.titleBar{
    height:6vh;
    color: #FFFFFF;
    margin:0;
    padding-top: 1vh;
    font-size: calc(16px + 1vh);
}