.headerBack{
    display: block;
    background: #24292e;
    width: 100vw;
    height: 8vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.icon{
    height:4vh;
}

.titleBar{
    height:4vh;
    color: #FFFFFF
}