body {
    background: #666666;
    //background: url("/images/pink_cat.png");
    background-size: contain;
    background-repeat: repeat-y;
}

.back{
    width: 100vw;
    display:flex;
    text-align: center;
    align-items: center;
}

.sidebar{
    width: 20vw;
    height: 100%;
}

.contents{
    width: 60vw;
    height: 100%;
    background: #FFFFFF88;
    background: url("/images/pink_cat.png");
    background-size: contain;
    background-repeat: repeat-y;
    padding-left: 4px;
    padding-right: 4px;   
    display: block;
}

@media only screen and (max-width: 600px){
    .sidebar{
        width: 0;
    }

    .contents{
        width: 100vw;
    }
}