body {
    background: url("/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.back{
    display: flex;
    width: 100vw;
    min-height: 94vh;
}

.menuItem{
    background: #00000000;
    width: calc((1/3) * 100vw);
    height : 10vh;
    color: FFFFFF;
    
}

.menuItem :hover{
    background: #00FF0044;
}

@media only screen and (max-width: 600px){
    .menuItem{
        width: 100vw;
    }
}