.topBar{
    display: flex;
    user-select: none;
}

.backBtn{
    width: 4vw;
    height: 4vw;
    border-radius: 2vw;
    background: #888888;
    display: flex;
    margin: 8px 2vw;
}

.backBtnLabel{
    margin:auto;
    color: #FFFFFF;
}


.editorBar{
    width: 48vw;
    height: 4vw;
    border-radius: 2vw;
    background: #888888;
    margin: 8px 2vw;
    display: flex;
    padding: 0;
}

.barBtn{
    width: calc(48vw / 3);
    margin: auto;
}

#editTimeBtn{
    border-left: 0.5px solid #000000;
    border-right: 0.5px solid #000000;
}

.barBtnLabel{
    margin: auto;
    color: #FFFFFF;
}

.editor{
    width: 180vw;
    min-height: calc(94vh - 4vw);
    display: flex;
}

.editSubject{
    transform: translateX(0vw);
}

.editTime{
    transform: translateX(-60vw);
}

.editTimetable{
    transform: translateX(-120vw);
}

.editorPanel{
    width: 56vw;
    min-height: calc(94vh - 14vw);
    margin: 2vw;
    background: #888888;
}



@media only screen and (max-width: 600px){
    .backBtn{
        width: 10vw;
        height: 10vw;
        border-radius: 5vw;
    }

    .editorBar{
        width: 80vw;
        height: 10vw;
        border-radius: 5vw;
    }

    .barBtn{
        width: calc(80vw / 3);
    }

    .editor{
        width: 300vw;
        min-height: calc(94vh - 10vw);
    }

    .editSubject{
        transform: translateX(0vw);
    }
    
    .editTime{
        transform: translateX(-100vw);
    }
    
    .editTimetable{
        transform: translateX(-200vw);
    }

    .editorPanel{
        width: 96vw;
        min-height: calc(94vh - 12vw);
        margin: 2vw;
    }
}