.test{
    position: fixed;
    width: 100vw;
    height: 10vh;
    margin: 0;
    background: #00000000;
    display: flex;
    text-align: center;
    transition: all 2000ms 300ms ease;
}

.activeBanner{
    transform: translateY(90vh);
    background: #000000FF
}

p{
    width: auto;
    height: auto;
    margin: auto;
    color: #FFFFFF;
}

.contents{
    height: 1000vh;
}