.item_back{
    width: calc(60vw - 2px);
    height: 6vw;
    margin: 4px auto;
    display:flex;
    background: #00000000;
    border: 1px solid #000000;
    user-select: none;
}

.item_back:hover{
    background: #FF5BBD44;
}

.itemThumbnail{
    width: 12vw;
    height: 6vw;
    display: flex;
}

.thumbImage{
    width: auto;
    max-width: 10.8vw;
    height: auto;
    max-height: 5.4vw;
    margin: auto;
}

.itemTitle{
    width: 45vw;
    margin: auto;
    font-size: 2vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000000;
    text-align: left;
}

@media only screen and (max-width: 600px){
    .item_back{
        width: 90vw;
        height: 9vw;
    }

    .itemThumbnail{
        width: 18vw;
        height: 9vw;
    }

    .thumbImage{
        max-width: 16.2vw;
        max-height: 8.1vw;
    }

    .itemTitle{
        width: 67.5vw;
        margin: auto;
        font-size: 3vw;
    }
}