.listItem{
    width: 95%;
    height: 10vh;
    display: block;
    text-align: left;
    background: #44FFAACC;
    border-radius: 5vh;
}

.listItem:hover{
    height: auto;
}

.listTitle{
    width: 100%;
    height: 10vh;
    background: #FFFFFF00;
}

.goButton{
    width: 25%;
    height: 10vh;
    margin-left: 75%;
    background: #FFFFFF00;
    border: 0;
    text-align: center;
}

.goButton:hover{
    background: #FFFFFF66;
}