.item_back{
    width: calc(60vw * 0.9);
    height: 8vh;
    margin: 4px 0;
    display:flex;
    background: #00000000;
    border: 1px solid #000000;
}

.itemThumbnail{
    height: 6vh;
    margin: 1vh;
}

.itemTitle{
    height: auto;
    margin: auto 0;
    font-size: calc(16px + 1vh);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000000;
}

.cover{
    position: absolute;
    width: calc(60vw * 0.9);
    height: 8vh;
    background: #00000000;
}

.cover:hover{
    background: #FF5BBD44;
}